# Firebase Configuration
FIREBASE_PROJECT_ID=
FIREBASE_DATABASE_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Optional: FIREBASE_CONFIG JSON
# FIREBASE_CONFIG=

# Google Sheets Integration (Optional)
# GOOGLE_SHEET_URL=
